html,
body,
body > *,
.App {
  height: 100%;
}

.converters {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.converters > * {
  flex: 1;
}

textarea {
  font-family: Consolas, "Courier New", monospace;
}
